# Create graphs for employee data

In [53]:
import pandas as pd
import os
import psycopg2
from dotenv import load_dotenv
from sqlalchemy import create_engine

In [54]:

DB_HOST = os.getenv('DB_HOST')
DB_NAME = os.getenv('DB_NAME')
DB_USER = os.getenv('DB_USER')
DB_PASS = os.getenv('DB_PASS')
load_dotenv()

True

In [55]:
engine = create_engine(f'postgresql://{DB_USER}:{DB_PASS}@{DB_HOST}:5432/company')
dbConnection = engine.connect()

In [56]:

# Read data from PostgreSQL database table and load into a DataFrame instance

salary_df = pd.read_sql("select * from \"salaries\"", dbConnection);

In [57]:

salary_df.head()

   emp_no  salary
0   10001   60117
1   10002   65828
2   10003   40006
3   10004   40054
4   10005   78228

In [58]:
# Close the database connection

dbConnection.close();